.about {
    padding: 80px 24px;
    position: relative;
    overflow: hidden;

    .section-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: $primaryColor;
    }

    header {
        text-align: center;

        h1 {
            font-weight: 400;
            font-size: 32px;
            line-height: 28px;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-top: 30px;
        }

        .image {
            position: relative;
            width: 256px;
            height: 171px;
            margin: 30px auto 0 auto;
        }

        .ellipse {
            position: absolute;
            width: 223px;
            height: 223px;
            background: $primaryColor;
            opacity: 0.07;
            filter: blur(50px);

            &.left {
                left: -46px;
                top: 112px;
            }

            &.right {
                left: 234px;
                top: 477px;
            }
        }
    }

    .features {
        margin-top: 100px;

        .blocks {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;

            .block {
                text-align: center;
                margin: 30px 0;

                .image {
                    position: relative;
                    margin: auto;

                    &.multichain {
                        width: 77.94px;
                        height: 60px;
                    }

                    &.token {
                        width: 74px;
                        height: 81px;
                    }

                }

                h3 {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 23px;
                    margin: 20px 0;
                }

                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                }
            }

        }
    }

    .game-types {
        margin-top: 100px;

        .games {
            position: relative;
            width: 100%;
            height: 350px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 30px;


            .game {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                opacity: 0;
                transition: 0.3s linear all;

                h3 {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: #FFFFFF;
                }

                .image {
                    position: relative;
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 12px 0;
                }

                p {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    color: #FFFFFF;
                    text-align: center;
                }

                &.activeSlide {
                    opacity: 1;
                    transform: translateX(0);
                }

                &.nextSlide {
                    transform: translateX(100%);
                }

                &.prevSlide {
                    transform: translateX(-100%);
                }

            }

            .pagination {
                position: absolute;
                bottom: 10px;
                width: 100%;
                display: flex;
                justify-content: center;

                .box {
                    width: 7.68px;
                    height: 7.68px;
                    margin: 0 10px;
                    background: #535353;

                    &.activeSlide {
                        background: #FFFFFF;
                    }
                }
            }

            .btn {
                font-size: 1.5rem;
                color: #696969;
                position: absolute;
                top: 77px;

                &.left-btn {
                    left: 2px;
                }

                &.right-btn {
                    right: 2px;
                    color: $primaryColor;
                }

            }
        }

    }
}


@include for-phone-only {}

@include for-tablet-potrait-up {}

@include for-tablet-landscape-up {}

@include for-desktop-up {
    .about {
        padding: 60px 80px;

        .section-title {
            font-size: 32px;
            line-height: 41px;
        }

        header {

            h1 {
                font-size: 48px;
                line-height: 61px;
            }

            p {
                line-height: 28px;
                color: #FFFFFF;
                width: 987px;
                margin: auto;
            }

            .image {
                width: 499px;
                height: 336px;
            }

            .ellipse {
                width: 479px;
                height: 479px;
                opacity: 0.2;
                filter: blur(150px);

                &.left {
                    left: -240px;
                    top: 200px;
                }

                &.right {
                    left: 1200px;
                    top: 200px;
                }
            }
        }

        .features {
            position: relative;

            .blocks {
                grid-template-columns: repeat(2, 1fr);
                margin-top: 80px;

                .block {
                    text-align: start;
                    margin: 0;

                    .image {
                        margin: 0;

                        &.multichain {
                            width: 119.51px;
                            height: 92px;
                        }

                        &.token {
                            width: 84px;
                            height: 92px;
                        }
                    }

                    h3 {
                        font-size: 32px;
                        line-height: 41px;
                    }

                    p {
                        line-height: 28px;
                        color: #FFFFFF;
                    }

                    &:last-child {
                        margin-left: 30px;
                    }
                }
            }

            .ellipse {
                position: absolute;
                background: $primaryColor;
                filter: blur(150px);
                opacity: 0.07;

                &.left {
                    width: 245px;
                    height: 245px;
                    left: 309px;
                    top: 100px;
                }

                &.right {
                    width: 458px;
                    height: 458px;
                    right: -200px;
                    top: 100px;
                }
            }
        }

        .game-types {
            .games {
                width: 80%;
                margin: 30px auto 0 auto;

                .game {
                    h3 {
                        font-size: 24px;
                        line-height: 41px;
                    }

                    .image {
                        margin: 15px 0;
                    }

                    p {
                        font-size: 16px;
                        line-height: 28px;
                        padding: 0 64px;
                    }
                }

                .btn {
                    top: 120px;
                }
            }

        }
    }
}

@include for-big-desktop-up {}