nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;

  .logo {
    width: 10px;
    height: 31px;
    position: relative;
  }

  .socials-waitlist,
  .links {
    display: none;
  }

  .hambugger {
    color: #a5a3a3;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border: 2px solid red;
  }
}

.mobile-links {
  background: rgba(26, 26, 26);
  backdrop-filter: blur(100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0px;
  width: 100%;
  overflow: hidden;
  transition: 0.5s linear height;
  position: absolute;
  z-index: 4;

  a {
    margin-bottom: 80px;
  }

  &.show {
    height: 550px;
  }

  .socials-waitlist {
    @include flex(center, center, column);

    .socials {
      @include flex(center, center, row);
      margin-bottom: 80px;

      a {
        margin-right: 10px;
        margin-bottom: 0;
      }
    }
    button {
      display: block;
    }
  }
}

@include for-phone-only {
  nav {
    padding: 12px 14px;
  }
}

@include for-tablet-potrait-up {
  nav {
    padding: 12px 40px;
  }
}

@include for-tablet-landscape-up {
  nav {
    padding: 12px 60px;
  }
}

@include for-desktop-up {
  nav {
    width: 966px;
    @include flex(center, space-between, row);
    padding: 12px 32px;
    margin: 43px auto;
    border-radius: 0.625rem;
    background: rgba(51, 51, 51, 0.76);

    .logo {
      font-size: 32px;
      line-height: 41px;
      position: relative;
      width: 18px;
      height: 53px;
    }

    .links {
      @include flex(center, flex-start, row);

      a {
        margin-right: 80px;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          color: $primaryColor;
        }
      }
    }

    .socials-waitlist {
      @include flex(center, flex-start, row);

      a {
        margin-right: 10px;
      }
    }

    .hamburger {
      display: none;
    }
  }

  .mobile-links {
    display: none;
  }
}

@include for-big-desktop-up {
}
