@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Share+Tech&display=swap');

@import "./variables";
@import "./mixins";
@import "../../components/navbar/navbar";
@import "../../components/footer/footer";

// PAGES
@import "./home";
@import "../pages/contact/contact";
@import "../pages/about/about";
@import "../pages/waitlist/waitlist";



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Share Tech', sans-serif;
    background-color: $bgColor;
    color: #ffffff;

    &.light-mode {
        @include lightTheme(true)
    }

    &.light-mode p {
        color: #000000;
    }
}

p {
    color: #BDBDBD;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    align-self: center;
}


button {
    padding: 12px 35px;
    border: none;
    background: transparent;
    color: $primaryColor;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Share Tech', sans-serif;

    &.green {
        background: $primaryColor;
        color: #ffffff;
    }

    &.grey {
        background: #606060;
        color: #ffffff;
    }
}

.img {
    position: relative;
}