footer {
    @include flex(center, center, column);
    padding: 20px 14px;

    h4 {
        color: #fff;
        font-weight: 400;
        font-size: clamp(0.9rem, 3vw, 1rem);
        line-height: 20px;
    }

    .socials {
        @include flex(center, center, row);
        margin-top: 0.5rem;
    }
}

@include for-phone-only {
    footer {
        padding: 20px 24px;
    }
}

@include for-tablet-potrait-up {
    footer {
        padding: 20px 40px;
    }
}

@include for-tablet-landscape-up {
    footer {
        padding: 20px 60px;
    }
}

@include for-desktop-up {
    footer {
        padding: 20px 40px;
    }
}

@include for-big-desktop-up {}